body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




/* Header component */

#nav {
  border: 2px solid red;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 9999;
}

#header-container {
  display: inline-block !important;
}

.sub-container {
  margin-top: 1.5rem;
}

.sub-container > li {
  list-style-type: none;
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: 900;
}

.sub-container > li > a:hover {
  text-decoration-line: none;
}


.sub-container > li:nth-child(1) a,
.sub-container > li:nth-child(2) a,
.sub-container > li:nth-child(4) a {
  color: #000  ;
}

.sub-container > li:nth-child(5) a {
  color: #ffffff  ;
}



.sub-container > li:last-child {
  display: block;
  width: 6rem;
  background-color: orange;
  text-align: center;
  padding-top: .18rem;
  padding-bottom: .11rem;
  border-radius: 2rem;
}

/* Main component */


#main {
  border: 2px solid green;
  height: 1500px;
  margin-top: 84px;
}

/* Introduction component */

.container-wrapper {
  background-color: #ffffff;
  border-bottom: 2px solid green;
}

#container-intro {
  border: 2px solid #000;
  margin-top: 2.5rem;
  margin-bottom: 3.5rem;
}

.intro-statements {
  margin-top: 2rem;
  margin-bottom: 2rem;
  /* padding-left: 1rem; */
}

.intro-statements > h1 {
  font-weight: bold;
  margin-top: 2.5rem;
  margin-left: 1.2rem;
}

.intro-statements > p {
  color: grey;
  font-size: 1.2rem;
  margin-left: 1.2rem;
  margin-top: 1rem;
}

.intro-image {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Membership Components */

.member-wrapper {
  background-color: #117fa7;
}

.member-col-left {
  margin-top: 6rem;
  margin-bottom: 12rem;
}

.member-col-right {
  margin-top: 6rem;
}

.member-col-right > div > h4 {
  color: #ffffff;
  font-weight: bold;
}

.member-col-right > div > p {
  color: #ffffff;
}

.member-col-right > div {
  margin-bottom: 3.5rem;
}

.left-matter > h2 {
  font-weight: bold;
  color: white;
  margin-bottom: 1rem;
}

.button {
  background-color: #000;
  border: none;
  border-radius: 2.5rem;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: .7rem;
  /* margin: 2px 1px; */
  cursor: pointer;
  text-transform: uppercase;
}

.button:hover {
  text-decoration: none;
}

.statistics {
  margin-top: 3rem;
  /* margin-bottom: 3rem; */
}

.statistics > div > h4 {
  color: #ffffff;
  font-weight: bold;
}

.statistics > div > p {
  color: #fff;
  font-size: .85rem;
  line-height: 2;
  word-spacing: .4rem;
}

.stats-one,
.stats-two,
.stats-three,
.stats-four {
  margin-bottom: 3rem;
}

