body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* font-family: 'Overpass', sans-serif; */

/* font-family: 'PT Serif', serif; */

@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Playfair+Display:wght@400;500;600;700;800;900&family=PT+Serif:wght@400;700&display=swap');




/* Header component */

#nav {
  border: 2px solid red;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 9999;
}

#header-container {
  display: inline-block !important;
}

.sub-container {
  margin-top: 1.5rem;
}

.sub-container > li {
  list-style-type: none;
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: 900;
}

.sub-container > li > a:hover {
  text-decoration-line: none;
}


.sub-container > li:nth-child(1) a,
.sub-container > li:nth-child(2) a,
.sub-container > li:nth-child(4) a {
  color: #000  ;
}

.sub-container > li:nth-child(5) a {
  color: #ffffff  ;
}



.sub-container > li:last-child {
  display: block;
  width: 6rem;
  background-color: orange;
  text-align: center;
  padding-top: .18rem;
  padding-bottom: .11rem;
  border-radius: 2rem;
  margin-top: -3px;
}

/* Main component */


#main {
  border: 2px solid green;
  height: 1500px;
  margin-top: 80px;
}

/* Introduction component */

.container-wrapper {
  background-color: #ffffff;
  border-bottom: 2px solid green;
}

#container-intro {
  border: 2px solid #000;
  margin-top: 2.5rem;
  margin-bottom: 3.5rem;
}

.intro-statements {
  margin-top: 2rem;
  margin-bottom: 2rem;
  /* padding-left: 1rem; */
}

.intro-statements > h1 {
  font-weight: bold;
  margin-top: 2.5rem;
  margin-left: 1.2rem;
}

.intro-statements > p {
  color: grey;
  font-size: 1.2rem;
  margin-left: 1.2rem;
  margin-top: 1rem;
}

.intro-image {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Membership Components */

.member-wrapper {
  background-color: #117fa7;
}

.member-col-left {
  margin-top: 6rem;
  margin-bottom: 12rem;
}

.member-col-right {
  margin-top: 6rem;
}

.member-col-right > div > h4 {
  color: #ffffff;
  font-weight: bold;
}

.member-col-right > div > p {
  color: #ffffff;
}

.member-col-right > div {
  margin-bottom: 3.5rem;
}

.left-matter > h2 {
  font-weight: bold;
  color: white;
  margin-bottom: 1rem;
}

.button {
  background-color: #000;
  border: none;
  border-radius: 2.5rem;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: .7rem;
  /* margin: 2px 1px; */
  cursor: pointer;
  text-transform: uppercase;
}

.button:hover {
  text-decoration: none;
}

.statistics {
  margin-top: 3rem;
  /* margin-bottom: 3rem; */
}

.statistics > div > h4 {
  color: #ffffff;
  font-weight: bold;
}

.statistics > div > p {
  color: #fff;
  font-size: .85rem;
  line-height: 2;
  word-spacing: .4rem;
}

.stats-one,
.stats-two,
.stats-three,
.stats-four {
  margin-bottom: 3rem;
}

/* Testimonial Components */

.testimony-wrapper{
  background-color: #ffffff;
  /* border-color: orange; */
}

.testimony-card{
  /* background-color: grey; */
  background-color: #E8F1F2;

}

.carousel-container {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.sliderimg{
  width: 100%;
  height: 45vh !important;
  object-fit: cover;
}

/* Member Lists */

.mem-wrapper {
  background-color: #fff;
}

.container > h3 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
  font-weight: bolder;
}

.single-card {
  margin-bottom: 3rem;
}

.card {
  border: none !important;
}

.card-body > h5 {
  font-weight: bold;
  margin-left: -16px !important;
}

.card-body > p {
  font-size: .85rem;
  line-height: 2;
  word-spacing: .2rem;
  color: gray;
  margin-left: -16px !important;
}

.card-footer > button {
  border: none !important;
  margin-right: .5rem;
}

.button-directory {
  background-color: #208AAE;
  border: none;
  border-radius: 2.5rem;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: .7rem;
  /* margin: 2px 1px; */
  cursor: pointer;
  text-transform: uppercase;
}

.button-directory:hover {
  text-decoration: none;
  color: #ffffff;
}

#view-button{
  margin-bottom: 6rem;
}

/* Call-to-action */

.call-wrapper {
  background-color: #117fa7;
}

.call-wrapper > .container > .row {
  /* margin-top: 2rem; */
  /* margin-bottom: 2rem; */
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.call-wrapper > .container > .row > .col-lg-4 > p{
  margin-top: .9rem;
  color: #ffffff;
  font-weight: bolder;
  font-size: 1.8rem;
  font-family: 'Playfair Display', serif;
}

.cta-button{
  /* margin-top: .9rem; */
  margin-left: 13rem;
  background-color: #000;
  border: none;
  border-radius: 2.5rem;
  color: white;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: .75rem;
  padding-bottom: .6rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: .7rem;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 1rem;
  font-family: 'Overpass', sans-serif;

}

.cta-button:hover {
  text-decoration: none;
  color: #ffffff;
}



/* Footer  */

.footer-wrapper {
  background-color: #211f1c;
}

.footer-col-1, .footer-col-2 {
  margin-top: 5rem;
}

.footer-row-details > .col-lg-4 {
  color: #ffffff;
}

.col-lg-4 > h4 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: bold;
  font-family: 'Overpass', sans-serif;
}

.footer-introduction {
  font-size: .85rem;
  line-height: 2;
  word-spacing: .5rem;
  font-family: 'Overpass', sans-serif;
}

.donate-button {
  color: #fff;
  background-color: orange;
  text-align: center;
  padding-top: .6rem;
  padding-bottom: .5rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  border-radius: 2rem;
  text-transform: uppercase;
  font-size: .7rem;
  font-family: 'Overpass', sans-serif;
  font-weight: bold;
  letter-spacing: .1rem;
}

.donate-button:hover {
  color: #fff;
  text-decoration: none;
}

.col-lg-2 > p, .col-lg-2 > h6 {
  color: #ffffff;
}

.col-lg-2 > h6 {
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: 900;
  font-family: 'PT Serif', serif;
  letter-spacing: .1rem;
}

.footer-brands {
  color: #fff;
}

.fa-twitter {
  margin-left: .8rem;
}

.col-lg-2 > p {
  font-size: .85rem;
  line-height: 2;
  word-spacing: .2rem;
  font-family: 'Overpass', sans-serif;
}

.col-lg-2 > a {
  color: #ffffff;
  font-family: 'Overpass', sans-serif;
}

.footer-about,
.footer-program,
.footer-member,
.footer-partner {
  display: inline-block;
  font-size: .85rem;
  line-height: 2;
  margin-bottom: 1.2rem;
}

.update > h6 {
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: 900;
  font-family: 'PT Serif', serif;
  /* need diffent font type */
}

.update > p {
  font-size: .85rem;
  line-height: 2;
  width: 12rem;
  font-family: 'Overpass', sans-serif;
  /* word-spacing: .9rem; */
}

input[type="text"] {
  font-family: 'Overpass', sans-serif;
}


.input-group > input {
  font-size: .85rem;
  height: 3rem;
  border-radius: 2rem !important;
  position: relative;
  width: 30rem;
  /* padding-top: .2rem !important; */
}

.input-group-append > .btn {
  font-size: .85rem;
  background-color: #000;
  text-transform: uppercase !important;
  /* height: 3rem; */
  border-radius: 2rem !important;
  margin-top: .15rem;
  margin-bottom: .1rem;
  margin-left: -6.7rem;
  color: #ffffff;

}

.input-group-append > .btn:hover {
  color: #ffffff;
}
